
.blue   {
    color:rgb(39, 36, 199)
}

.blue-harlowsi{
    font-family: harlowsi;
    color: rgb(39, 36, 199)
}

/* Comment test*/


@font-face {
    font-family: firstfont;
    src: url(LATO-REGULAR.TTF);
}
@font-face {
    font-family: latobold;
    src: url(LATO-BOLD.TTF);
}

@font-face {
    font-family: harlowsi;
    src: url(HARLOWSI.TTF);
}

.font-fix{
    font-family: firstfont;
}

.font-bold{
    font-family: latobold;
    margin-left: 40px;
    margin-top: 0px;

}

.back-button{
    color: black;
    font-family: harlowsi;
    font-size: 30px;
    margin-top: -65px;
    margin-left: -50px;
    float: left;
    
}

.back-button-beer{
    color:black;
    font-family: harlowsi;
    font-size: 30px;
}

.back-button-projects{
float: left;
margin-left: 120px;
margin-top: -60px;
font-family: harlowsi;
font-size: 30px;
color: black;
}

.projects-button{
    color:#220ca1;
    font-family: latobold;
    font-size: 30;
}

.contact-button{
    font-family: harlowsi;
    float: left;
    margin-top: -20px;
    margin-left: 100px;
    color:rgb(39, 36, 199)
    
}

.form-box{
    width: 200px;
    height: 100px;
}

h1{
    font-family: harlowsi;
    font-size: 65px;
    margin-left: 30px;
    
}
h2{
    font-family: harlowsi;
    margin-top: -65px;
    margin-left: 65px;
}
h3{
    font-family: latobold;
}
p{
    font-family: firstfont;
}
p2{
    font-family: latobold; color: #220ca1;
}
li{
    font-family: latobold;
    font-size: 30px;
}
a{
    font-family: firstfont;
    color: black;
}

figure{
    margin-left: 0;
}

figcaption{
    font-family: latobold;
    font-size: 26px;
}



.img-float{
    float: inline-left;
    margin-left: 500px;
    margin-top: -250px;
}

.img-contact{
    height: 30px;
    width: 30px;
    float: left;
    margin-top: -3px;
    margin-left: -10px;
   
}

.img-projects{
   
    height: 200px;
    align-items: center;
}

.beer-png{
    height: 170px;
    width: 170px;
    float: right;
    margin-right: 300px;
    margin-top: -210px;
}


.get-in-font{
    font-family: harlowsi;
    font-size: 65px;
    margin-left: -80px;
    
}

/* POLY CAT */
.info-head{
    margin-top: 30px;
}

.cat-body{
    font-family: latobold;
    font-size: 25px;
    margin-right: -40px;
    margin-top: -30px;
    max-width: 1200px;
}

.back-button-cat{
    font-family: harlowsi;
    font-size: 40px;
    color: black;
    margin-left: 20px;
}

.cat-info-style{
    margin: 30px;
    padding: 30px;
    float: left;
    width: 500px;
}





.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.project-container-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 130px;
    align-content: center;
}

@media screen and (max-width: 1000px){

   
    .project-container{
        display: inline;
       
        text-align: center;
    }

    .project-container-2{
        display: inline;
        text-align: center;
    }

    .img-float
  
}


@media screen and (max-width: 1230px) {
    
    .cat-info-style{
        float: none;
    }

    .cat-body{
        max-width: 630px;
    }
    
}

@media  and (max-width: 440) {
    .cat-body{
        margin-right: -100px;
    }

    .img-float{
        margin-right: 80px;
        margin-left: -80px;
    }
}